 .header {
  position: relative;
  background-color: #FFFFFF;
  height: 64px;
  line-height: 64px;
  padding: 0 20px;

  .menu_collapse_icon {
    cursor: pointer;
    vertical-align: middle;
  }

  .pannel {
    float: right;
    cursor: pointer;

    .avatar {
      margin-left: 20px;
    }

    .username {
      margin-left: 10px;
      margin-right: 20px;
    }
  }

  .user_panel {
    position: absolute;
    z-index: 999;
    top: 65px;
    right: 40px;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, .05);
    border-radius: 4px;
    padding: 10px;

    .loginout {
      line-height: 2;
    
      span {
        margin-left: 10px;
      }
    }
  }
 }
